@using Telephones.ViewModels
@using TelephonesRazorLibrary
@model IEnumerable<ShortRecordViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutStart";
}


  <h2 class="row col-md-6 offset-md-3">Телефонная книга <small>всего записей @Model.Count()</small></h2>
  <div class="responsive-table">
    <div>
        <a class="btn btn-outline-primary m-3" asp-controller="TelephoneBook" asp-action="Create">Добавить новую запись</a>
    </div>
    <div class="table-header row">
      <div class="col col-1">Id</div>
      <div class="col col-2">Имя</div>
      <div class="col col-2">Фамилия</div>
      <div class="col col-2">Отвество</div>
    </div>

    @foreach (ShortRecordViewModel record in Model)
    {
        <div class="table-row row align-items-center">
          <div class="col col-1">
              <a asp-controller="TelephoneBook" asp-action="Details" asp-route-id="@record.Id">@record.Id</a>
          </div>
          <div class="col col-2">@record.FirstName</div>
          <div class="col col-2">@record.LastName</div>
          <div class="col col-2">@record.FatherName</div>
          <div class="row col col-4">
              <div class="col col-3">
                <component type="typeof(RecordDeleteComponent)" render-mode="ServerPrerendered" param-id="@record.Id" param-queryurl="@($"{Url.ActionLink()}TelephoneBook/Delete?id={record.Id}")"></component>
              </div>
              <a class="row btn btn-outline-dark col-4" asp-controller="TelephoneBook" asp-action="Update" asp-route-id="@record.Id">Редактировать</a>
          </div>
        </div>
    }
  </div>

@section Scripts{
    <script src="_framework/blazor.server.js"></script>
}