@using Telephones.ViewModels
@model UpdateRecordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutStart";
}

<div>
    <a class="btn btn-outline-primary m-3" asp-action="Index">Вернуться к списку</a>
    <form method="post" asp-action="Update" asp-controller="TelephoneBook">
        <div>
            <div class="table-header row">
                    <h4>Редактирование записи</h4>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="table-row row">
                    <label class="col col-3">Имя: </label>
                    <input class="col col-4" type="text" asp-for="FirstName" value="@Model.FirstName"/>
            </div>
            <div class="table-row row">
                    <label class="col col-3">Фамилия: </label>
                    <input class="col col-4" type="text" asp-for="LastName" value="@Model.LastName"/>
            </div>
            <div class="table-row row">
                    <label class="col col-3">Отвество: </label>
                    <input class="col col-4" type="text" asp-for="FatherName" value="@Model.FatherName"/>
            </div>
            <div class="table-row row">
                    <label  class="col col-3">Телефон: </label>
                    <input class="col col-4" type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
            </div>
            <div class="table-row row">
                    <label class="col col-3">Адрес: </label>
                    <input class="col col-4" type="text" asp-for="Address" value="@Model.Address"/>
            </div>
            <div class="table-row row">
                    <label class="col col-3">Описание: </label>
                    <input class="col col-4" type="text" asp-for="Discript" value="@Model.Discript"/>
            </div>
        </div>

        <input class="btn btn-warning m-3" type="submit" value="Сохранить"/>
    </form>
</div>
   

