@using Telephones.ViewModels
@using TelephonesRazorLibrary
@model UpdateRecordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutStart";
}

<div>
    <a class="btn btn-outline-primary m-3" asp-action="Index">Вернуться к списку</a>
    <component type="typeof(RecordUpdateComponent)" render-mode="ServerPrerendered"
        param-id="@Model.Id"
        param-firstname="@Model.FirstName"
        param-lastname="@Model.LastName"
        param-fathername="@Model.FatherName"
        param-phonenumber="@Model.PhoneNumber"
        param-address="@Model.Address"
        param-discript="@Model.Discript"
        param-queryurl="@(Url.ActionLink())">
    </component>
</div>
   
@section Scripts{
    <script src="_framework/blazor.server.js"></script>
}
